---
import { type SocialMedia } from '~/@types'
import CV from '~/components/icons/CV.astro'
import Github from '~/components/icons/Github.astro'
import Linkedin from '~/components/icons/Linkedin.astro'

interface Props {
  items: SocialMedia
}

const { items } = Astro.props

const classList = [
  'h-6 w-6 hover:bg-transparent focus:ring focus:outline-none',
  'hover:text-black active:text-black',
  'dark:hover:text-white dark:active:text-white',
]
---

<div class="flex flex-row items-center-safe gap-4">
  {
    Object.entries(items).map(([key, value]) => {
      switch (key) {
        case 'github':
          return (
            <a href={value} rel="noreferrer noopener" target="_blank" title="GitHub">
              <span class="sr-only">GitHub</span>
              <Github class:list={classList} />
            </a>
          )

        case 'linkedin':
          return (
            <a href={value} rel="noreferrer noopener" target="_blank" title="LinkedIn">
              <span class="sr-only">LinkedIn</span>
              <Linkedin class:list={classList} />
            </a>
          )

        case 'cv':
          return (
            <a href={value} rel="noreferrer noopener" target="_blank" title="LinkedIn">
              <span class="sr-only">LinkedIn</span>
              <CV class:list={classList} />
            </a>
          )

        default:
          return ''
      }
    })
  }
</div>
